#topimg{
margin-top: 70px;
margin-bottom: 5px;
padding-top:10% ;
padding-bottom: 10%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#MyClosing{
  right: 25px;
  top: 0;
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 5px;
}
#MyBttn{
  font-size: 16px;
  font-weight: bold;
}
#overflow{
  overflow: visible;
  min-height: 250px;
}
#open{
  background-color: #06a50a;
  padding: 3px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}
#closed{
  background-color: #dc0c0c;
  color: white;
  padding: 3px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}
.btn-default:active, .btn-default:hover,.btn-default:focus,.btn-default:visited{
  background-color: #e6ba22;
  color: white;
}
.addAs:before{
  content: "Add As "
}
.removeAs:before{
  content: "Remove from "
}
#uname{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
#umsg{
  font-size: 16px;
  font-style: italic;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#uReview{
 margin: 0 30px 35px;
 background: #d9edf7;
padding: 20px;
border-radius: 10px;
margin: 0 30px 35px;
}
 #textin{
  height: 100px;
}
.wide{
  width: 100%;
  margin: 0px;
  background: #333;
  color: #fed136;
}
.df{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-weight: 700;
}
.left{
  text-align: left;
}
.centr{
  text-align: center;
}
.right{
text-align: right;
}
.phone{
  height: 50px;
      width: 50px;
      background-color: #fff;
      /*position: absolute;
      bottom: 10px;
      right: 35px;*/
      text-align: center;
      font-weight: bold;
      border: 1px solid rgba(221, 221, 221, 0.72);
      color: #fec503;
      border-radius: 5px;
      padding-bottom: 45px;
      padding-top: 10px;
}
.myDirection{
      height: 50px;
      width: 75px;
      background-color: #fff;
      /*position: absolute;
      bottom: 10px;
      right: 280px;*/
      text-align: center;
      font-weight: bold;
      border: 1px solid rgba(221, 221, 221, 0.72);
      color:#fed136;
      border-radius: 5px;
      padding-bottom: 45px;
      padding-top: 10px;
}
.myDirection > a {
  text-decoration: none;
}
.myDirection > a:hover{
  color: #0fcea2;
}
.fa-arrows{
  font-size: 25px;
}
.Mymenu:hover{
  color: #ce0f44;
}
#reviewHolder{
  padding-bottom: 5%;
}
#hee{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    color: inherit;
}
#rateVal{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-weight: 500;
    font-size: 30px;
    line-height: 1.1;
    color: inherit;
}
#MyBttn{
  margin-left: 20px;
margin-bottom: 9px;
}
#mee{
  text-align: center;
  margin-top: 20px;
margin-bottom: 10px;
}
.disabling{
  cursor: not-allowed;
}
.star1:after{
  background-color: red;
  content: "Poor";
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.star2:after{
  content: "Okay";
  background-color: #dcdf14;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
}
.star3:after{
  content: "Good";
  background-color: blue;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;

}
.star4:after{

  content: "Very Good";
  background-color: #4fc61e;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
}
.star5:after{
  content: "Excellent";
  background-color: green;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
}
.react-rater a{
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: rgba(0, 0, 0, 0.56);
}
#input1{
    text-align: center;
}
#marin{
  margin-left: 20px;
  margin-right: 20px;
}
.myFont{
  color: black;
  font-size: 16px;
font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
#st{
  font-size: 20px;
  color: white;
}
#hcen{
      font-size: 50px;
}
.react-rater {
  display: inline-block;
  line-height: normal;
}

  .react-rater a.will-be-active {
      color: #f2fe36;
    }
  .react-rater a.is-active {
      color:rgba(254, 209, 54, 0.85);
    }
  .react-rater a.is-active-half:before {
      color: #fed136;
      content: '\2605';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
    }
  .react-rater a.is-disabled {
      color: rgba(0, 0, 0, 0.56);
      cursor: default;
    }
  .react-rater.is-disabled a {
    cursor: default;
  }

@media (max-width : 735px) {
  #reviewHolder{
    padding-bottom : 12%;
 }
 #rateButton{
   width : 100%;
   float: right;
 }
}

@media (min-width: 768px){
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
     margin-left: 0px;
}
}
a:visited a:active a:hover{
  text-decoration: none;
}
.phone > a:hover{
  text-decoration: none;
  color:#990000;
}
.Mymenu{
  height: 50px;
  width: 50px;
      background-color: #fff;
  /*position: absolute;
  right: 220px;
  bottom: 10px;*/
  text-align: center;
  font-weight: bold;
  border: 1px solid rgba(221, 221, 221, 0.72);
  color: #fec503;
  border-radius: 5px;
  padding-bottom: 50px;
  padding-top: 5px;
}
#MenuMar{
  margin: 50px 10px 10px 10px;
}
#MenuCar{
  background: rgba(0, 0, 0, 0.6);
}
.web{
  height: 50px;
  width: 50px;
      background-color: #fff;
  /*position: absolute;
  right: 100px;
  bottom: 10px;*/
  text-align: center;
  font-weight: bold;
  border: 1px solid rgba(221, 221, 221, 0.72);
  color: #fec503;
  border-radius: 5px;
  padding-bottom: 50px;
  padding-top: 5px;
}
.fa-book{
  font-size: 30px;
}
#ph{
  font-size: 25px;
}
.web > a:hover{
  text-decoration: none;
  color:#33abb7;
}
#web{
  font-size:30px;
}
.fab{
      height: 55px;
      width: 80px;
        background-color: #fff;
        text-align: center;
        font-weight: bold;
        border: 1px solid rgba(221, 221, 221, 0.72);
        color: #fec503;
        border-radius: 5px;
        padding-bottom: 50px;
        padding-top: 5px;

    /*position: absolute;
    right: 160px;
    bottom:15px;*/
}
.fab > a{
    text-decoration: none;
}
.fab > a :hover{
  color: #3b5998;


}
#fbb {
  font-size: 30px;

}
.dis{
  margin-left: 5px;
  margin-right: 5px;
}
.mrt{
  margin-top: 10px;
}
.fs{
  font-size: 16px;
}
.mar{
  margin-left: 15px;
  margin-right: 15px;
}
.bx{
      box-shadow: inset 0px 0px 1px 0px #777;
      padding: 10px;
}
.fa-phone{
  font-size: 20px;
}
.rbg{
  background-color: #f5f5f5;
  padding-top:20px;
  padding-bottom: 20px;
}
#rnm > h2{
  text-align: left;
}
#myCarousel{
  overflow: hidden;
}
#myCarousel >.carousel-inner ,
#myCarousel >  .carousel-inner > a {
    overflow:hidden;
      width: 100%;
      max-height: 500px;
  position:relative;

  }
#myCarousel >.carousel-inner > .item > img,
#myCarousel >  .carousel-inner > .item > a > img {
  position: relative;
  top:-50%;
 object-fit: cover;
  /*margin: auto;*/
  height: auto;
  width:100%;
  }
#meCarousel > .carousel-inner > .item > img,
#meCarousel >  .carousel-inner > .item > a > img {
      width: auto;
      height: auto;
      max-height: 80vh;
      margin: auto;
  }

#myCarousel{
      background: #292323;
}
