#cont{
  background-image: url('./image/bc.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  overflow: visible;
  width: 100%;
  padding-bottom: 150px;

}
.map{
  background-color: #fff;
  border-radius: 0.3em;
  margin-top: 20px;
  padding-bottom: 10px;
}
.clear{
  clear: both;
}
.bg{
  background-color: #fff;
  border-radius: 0.3em;
  padding-bottom: 10px;
}
.detail{
  margin: 20px 0px 20px;
}
.DropDemo{
  padding-bottom: 20px;
}
*{
  box-sizing: border-box;
}
.head1{
  margin-top: 40px;
  margin-bottom: 30px;
}
h2{
  text-align: center;
}
#valName,#valAdd,#valArea,#valCuisine,#valPhone,#valCost,#valOtime,#valCtime,#valHigh,#valDesc,#valTerms,#valLoc,#valPhotos{
  text-align: center;
  color: #c50c0c;
  font-weight: bold;

}
#ca{
  text-align: right;
}
#form1 {
  padding-top: 25px;
}
*[role="form"] {

    padding: 15px;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    text-align: center;
    margin-bottom: 20px;
}
#highBtn{
  margin-left: 17px;
  margin-bottom: 5px;
}
@media (max-width:767px) {
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width:767px) {
  /*#upDelBtn{
        width: 100%;
  }*/
  #tb{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
  #highBtn{
    margin-bottom: 5px;
    margin-left: 23px;
  }
  #detForm{
    margin-right: 15px;
  }
  #cuisine1{
    margin-left: 7em;
  }
}
.btn-default{
  background-color: #fed136;
  color: white;
}
@media (max-width: 992px) and (min-width:925px) {
  #upDelBtn{
        width: 630px;
  }
}

@media (max-width: 926px) and (min-width:767px) {
  #upDelBtn{
        width: 500px;
  }
}

@media (min-width:992px){
#tb{
  width: 250px;
}
#cuisine1{
  margin-left: 2em;
}
label{
  display: initial;
}
#highBtn{
  margin-left: 15px;
  margin-bottom: 5px;
}
.hello{
  padding-right: 0px;
}
}
@media(min-width:1440px) {
  #cuisine1{
    margin-left: 9em;
  }
}
@media (min-width:2056px) {
  #cuisine1{
    margin-left: 15em;
  }
}
