#refreshAll{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    color: #dc0c0c;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}
#filtersCol{
  height:100%;
  /*width: 100%;*/
  margin-top: 5px;
  background-color: #f5f5f5;
  /*margin: 5px;
  padding: 5px;*/
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.closeSym{

}

.fa-times{
  color: #dc0c0c;
  display: none;
}

.check{
  cursor: pointer;
}

.Filters{
  margin: 5px;
}

.heading{
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.subheadings{
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #333;
}

#cuisineModal{
  background: rgba(0 , 0, 0, 0.89);
}

#areaModal{
  background: rgba(0 , 0, 0, 0.89);
}

label{
  font-weight: normal;
}

#filtersCol{
  padding-left: 2px;
  padding-right: 0px;
}
#cuisineBtn{
  padding: 0px;

}
#areaBtn{
  padding: 0px;

}

@media (max-width:767px) {
  #form1{
    margin-left: 10px;
  }
}
@media (min-width:1079px) {
  #refreshAll{
    display: inline-block;
    margin-left: 10px;
  }
}
