#HomeMap{
  padding: 20px;
  background:rgba(51, 51, 51, 0.33) ;
}
*[role="map"]{
  border-radius: 10px;
}
#HomeMap img {
	max-width: none !important;
}

/*.gm-style .gm-style-iw {
          background-color: #3C61AD !important;
          top: 0 !important;
          left: 0 !important;
          width: 100% !important;
          height: 100% !important;
          border-radius: 5px;
          min-height: 30px !important;
          padding-top: 10px;
          display: block !important;
          padding-bottom: 20px;
       }*/

/*.gm-style div div div div div div div div {
            background-color: #3C61AD !important;
            padding: 0;
            margin: 0;
            padding: 0;
            top: 0;
            color: #fff;
            font-size: 16px;
        } */

.boldin{
  font-weight: bold;
}
.iw-title > a {
  text-decoration: none;
}
#iw-container img{
  float: left;
  height: 80px;
  margin: 0px 5px 5px 5px;
}
#iw-container{
  padding-bottom: 30px;
}
.iw-content{
  float: left;
  font-size: 16px;
}
.iw-title{
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      color: white;
}
#sysle {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}
