.container-fluid{
  height:100%;
  /*overflow: scroll;*/
}
#img1{
  width: 150px;
}
#listImg{
    background-image: url('./image/b.jpg');
    background-repeat: no-repeat;
    min-width: 70px;
}

.wbg{
      color: white;
}
#bc{
      background: #000;
}
#upBtn{
  padding: 0px 12px;
  margin-bottom: 5px;
}
#sisin{
  font-size: 25px;
}
#mbg{
  background-image: url('./image/bc.png');
  background-repeat: round;
  background-attachment: fixed;
  overflow: visible;
  width: 100%;
  /*height: 120vh;*/
}
#open{
  background-color: #06a50a;
  padding: 3px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}
#closed{
  background-color: #dc0c0c;
  color: white;
  padding: 3px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}
#rating{
  background-color: #c50c0c;
  color: white;
  font-weight: 700;
  height: 30px;
  width: 30px
}
.half {
    position:relative;
}
.font{
	font-size:6em;
}
.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}
.well{
  margin: 5px;
  padding: 5px;
  background-color: #f5f5f5;
}
#phnn{
  margin-right: 10px;
}
.media-object{
  max-height: 150px;
    max-width: 150px;
    height: auto;
    width: auto;
    overflow: hidden;
}
.list-inline{
  margin-bottom: 0px;
}
#facb{
  font-size: 20px;
  color: #3B5998;
  margin-left: 5px;
}
.glyphicon-star{
  color: #fec503;
}
.head{
  font-weight: bold;
}
.glyphicon-time{
  color: #fed136;
}
.fa-rupee{
  color: #3c763d;
}
.ta-right{
  text-align: right;
}
.resName{
  float: left;
}
hr{
  margin-top: 20px;
  margin-bottom: 5px;
}
#subhead{
  color: rgba(51, 51, 51, 0.6)
}
#approx2{
  color: rgba(51, 51, 51, 0.6);
  font-size: 10px;
}
/*.fa-phone{
  margin-left: 5px;
}*/
  .smallFont > a{
    text-decoration: none;
    color: black;
  }

  .smallFont{
    font-size: 12px;
  }
