.NoRes{
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
#NoResText{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.4285em;
  color: #33373D;
  padding-top: 20px;
}
#AllResBtn{
  background-color: #fed136;
  color: #FFF;
  text-shadow: none;
  padding: .78571429em 1.5em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: .28571429rem;
  display: inline-block;
}
#br1{
  margin-bottom: 25px;
}
@media (max-width:767px) {
  #filtersCol{
    display: none;
  }
  .NoRes{
    margin-top: 20px;
  }
}
