#secQues{
  color: #fed136;
  font-weight: 600;
  font-size: 15px;
}

#done{
  margin-left: 20px;
  margin-right: 30px;
}

#errMsg{
  font-weight: 700;
  color: #c50c0c;
  font-style: italic;
  margin: 5px;
}

#forgotPwd{
  display: block;
  color: #c50c0c;
  text-align: right;
}

#forgotPwd:hover{
  color: #fed136;
  font-weight: bold;
}

#logHead{
  font-style: oblique;
}

 .disabled{
        pointer-events: none;
}

#color1{
  color: #fed136;
}

#myPopup{
  display: none;
}
#register{
  font-size: 12px;

}
#but{
  display: inline-block;
  color: black;
}

.modal{
   position: fixed;
   /*padding-top: 120px;*/
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1050;
   display: none;
   overflow: visible;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#loginModal{
  background: rgba(0 , 0, 0, 0.55);
}
#loginClose {
  right: 25px;
  top: 0;
  font-size: 35px;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 5px;
  color: black;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgba(254, 209, 54, 0.7);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: -140%;
    left: 122%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
      border-color: transparent rgba(254, 209, 54, 0.7) transparent transparent;

}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
