#floating-panel {
  margin-top: 10px;
position: absolute;

left: 35%;
z-index: 5;
background-color: #fff;

border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
}
.hid2{
  display: none;
}
.vis2{
  display: block;
}
#address2{
  width: 200px;
}
@media (max-width:767px) {
  #address2{
    width: 150px;
  }
}
