#navy {
  margin: 0px;
  background-color: black;
  padding: 0px;
  width: 100%;
}
.navbar-nav > li > a{
  padding-bottom: 0px;
}
#logout{
  padding-top: 10px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}
#dd3{
  left: -70px;
  width: 250px;
}
