#profBtn{
  color: white;
  padding-top: 5px;
  padding-right: 15px;
}
#profileLi{
  padding-left: 5px;
    /* border-width: 3px; */
    border-radius: 5px;
    border-style: groove;
    background-color: black;
    display: none;
    /* border-color: #fed136; */
}

#profile{
  display: -webkit-inline-box;
  padding-right: 2px;
}

hr.bre{
  border-top: #fed136;
    border-width: 2px;
    border-top-style: solid;
}

ul li ul.dropdown2{
        min-width: 120px; /* Set width of the dropdown */
        background: white;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        padding:10px;
        border-radius: 5px;
        /*margin-top: 10px;*/
}
.dropdown2{

}
ul li:hover ul.dropdown2{
        display: block; /* Display the dropdown */
}
ul li ul.dropdown2 li{
        display: block
}
ul.dropdown2 li.link2 a{
  color:black;
}




.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.scrolled-nav{
  height: 20px !important;
 line-height: 20px !important;
 background: black;
 padding: 0px;
 -webkit-transition: all 0.9s;
 -moz-transition: all 0.9s;
 transition: all 0.9s;
}
