#Newr .newr-item {
  margin: 0 0 50px;
  right: 0;
}
#newSpin{
  color: #fed136;
}
.newImg{
  width: 260px;
  height:200px;
  background-image: url('./image/b.jpg');
  background-repeat: repeat;
  overflow: hidden;
}
#Newr .newr-item .newr-link {
  display: block;
  position: relative;
  max-width: 271px;
  max-height: 250px;
  /*margin: 0 auto;*/
}
section {
    padding: 50px 0px 0px;
}
#open{
  background-color: #06a50a;
  padding: 3px;
  font-style: normal;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}
#closed{
  background-color: #dc0c0c;
  color: white;
  padding: 3px;
  font-style: normal;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}
#styl{
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-top: 10px;
}

#img{
  width: auto;
  max-width: 260px;
  min-height: 200px;
}
#Newr .newr-item .newr-link .newr-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 260px;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#Newr .newr-item .newr-link .newr-hover:hover {
  opacity: 1;
}
#Newr .newr-item .newr-link .newr-hover .newr-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#Newr .newr-item .newr-link .newr-hover .newr-hover-content i {
  margin-top: -12px;
}
#Newr .newr-item .newr-link .newr-hover .newr-hover-content h3,
#Newr .newr-item .newr-link .newr-hover .newr-hover-content h4 {
  margin: 0;
}
#Newr .newr-item .newr-caption {
  max-width: 260px;
  /*margin: 0 auto;*/
  background-color: white;
  text-align: center;
  padding: 25px;
}
#Newr .newr-item .newr-caption h4 {
  text-transform: none;
  margin: 0;
}
#Newr .newr-item .newr-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#Newr * {
  z-index: 2;
}
@media (max-width: 767px) {
  #Newr .newr-item {
    margin: 0 0 50px 40px;
  }
}
