/*.navbar-header{
  width: 100%;
}*/

#uscroll{
  overflow: hidden;
}
.favHead{
  padding-top: 15px;
}
#bc{
  background-color: black;
}
#listHidden{
  display: none;
}
#listVisible{
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}
#wrapper {

    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    top :40px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #222222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    /*background-image: url('./image/bc.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;*/
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0px;
    top: 20px;

    /*opacity: 0.9;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: bold;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    color: #fed136;
    font-weight: bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: larger;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
/*.bgPad{
  padding-bottom: 50px;
  padding-top: 50px;
}*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 210px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px 0px 120px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .container-fluid{
      padding-left: 10px;
      padding-right: 0px;
    }
}
