
#search_btn {
    color: white;
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0px;
}
#search_box{
color: black;
border-color: #fed136;
font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 700;
padding: 10px;
}
#search_icon{
color: white;
background-color: #fed136;
border-color: #fed136;
font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-weight: 700;
padding: 10px;
}
@media (max-width:768px) {
#search_btn{
  font-size: 10px;
  padding: 5px 0px;
  font-weight: 700;
  width: 70px;
}
#search_box{
  font-size: 10px;
  padding: 5px;

}
#search_icon{
  font-size: 10px;
  padding: 5px;
}
}
