label{
  padding-left: 2px;
}
#secErr{
  color: red;
  font-size: 12px;
  padding-left: 4px;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 15px;
}
#myPopup{
  display: none;
}
#emailPopup{
  display: none;
}

#myModal.form-group {
    margin-bottom: 10px;
    position: relative;
    padding: 20px
}
input[type="radio"] {
    -webkit-appearance:checkbox;
    -moz-appearance: checkbox;
    padding-left: 2px;
}
.modal{
   position: fixed;
   /*padding-top: 120px;*/
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1050;
   display: none;
   overflow: visible;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#myModal{
  background: rgba(0 , 0, 0, 0.55);
}
.modal-dialog{
  padding-top: 10px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: visible;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/*Modal Header*/
.modal-header {
    background-color: #fed136;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
}

/*Add Animation*/
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
#closeBtn {
  right: 25px;
  top: 0;
  font-size: 35px;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  padding: 15px 15px;
  background-color: transparent;
  border-style: hidden;
  border-radius: 10px;
  margin-right: 10px;
  color: #fff !important;
}

#myBtn:hover,
#myBtn:focus
{
  color: #fed136 !important;
  outline: none;
}
#myBtn:active
{
  color: white !important;
  background-color: #fec503 !important;
}
@media(max-width:767px){
    #myBtn{
        background-color: inherit;
        font-weight: 400;
        letter-spacing: 1px;
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        line-height: 20px;
    }

    .navbar-right {
      background-color: transparent;
      -webkit-transition: padding 0.3s;
      -moz-transition: padding 0.3s;
      transition: padding 0.3s;
      border: none;
    }
    .navbar-nav.navbar-right {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    #myBtn:active {
      border-radius: 3px;
    }
}

@media (min-width: 768px){
.modal-dialog {
    width: 600px;
    margin: -74px auto;
}}

@media(min-width:768px){
    .modal{
      width: 100%;
      left:0;
      overflow: auto;
    }
    #myBtn{
        background-color: inherit;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 15px 15px;
        line-height: 20px;
    }

    .navbar-right {
      background-color: transparent;
      -webkit-transition: padding 0.3s;
      -moz-transition: padding 0.3s;
      transition: padding 0.3s;
      border: none;
    }
    .navbar-nav.navbar-right {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    #myBtn:active {
      border-radius: 3px;
    }
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 180px;
    background-color: #fed123;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: -140%;
    left: 122%;
    margin-left: -80px;
}

#emailPopup{
  bottom: 20%;
}

#emailPopup::after{
  top: 80%;
  left: 0%;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(254, 209, 54, 0.7) transparent transparent;

}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
#passwordError{
  color: red;
  font-size: 12px;
  padding-left: 4px;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 15px;
}
#Error{
  color: red;
  font-size: 12px;
  padding-left: 4px;
  font-weight: bold;
  font-style: oblique;
}
#Password{
  margin-bottom: 5px;
}
#require{
  color: red;
  font-size: 12px;
  padding-left: 4px;
}
