#custum{
  margin-top: 5px;
}
#search_btn{
  padding-right: 5px;
  padding-left: 5px
}
.fa-bars{
  font-size: 20px;
}
#wide{
  width: 100%;
}
.navbar-brand{
  padding: 15px 0px;
}
.hid{
  display: none;
}
.FavVis{
  display: block;
}
.hidden11{
  display: none;
}
@media (max-width:1213px){
  #haed1{
  font-size: 20px;
}
#profileLi {
   padding: 0px 5px 0px 8px;
  }
  #profBtn {
      color: white;
       padding-top: 0px;
       padding-right: 8px;
  }

  .fa-2x {
      font-size: 10px;
  }

#profile{
  font-size: 10px;
}
.smaller{
  font-size: 10px;
}

}

@media (min-width: 801px) and (max-width: 992px){
  #custum{
    width: 38%
  }
}
@media (max-width: 800px){
   #custum{
    width: 36%;
}
}
hr{
  margin-top: 0px;
}
a{
  cursor: pointer;
}
@media (max-width:767px) {
  #filtToggle{
    margin: 8px 0px 8px 8px;
    float: left;
  }
  #haed1{
    margin-left: 25%;
  }
  .input-group{
    margin-top: 7px;
  }
  .navbar-brand{
    margin-left: 15px;
  }
}
.navbar-toggle{
      margin: 8px 0px;
      padding: 5px;
}
#filtBtn{
  font-size: 25px;
   margin-right: 10px;
   margin-top: 8px;
   margin-right: -10px;
}
